*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;

    .container{

        width: 80%;
        margin:auto;
        min-height:800px ;
        background: linear-gradient(darkorange , white);
        padding-top: 30px;


        h1,h2{
            color: white;
            text-align: center;
            margin: 25px 0;
        }


        ul{
            list-style-type: none;
            display: grid;
            grid-template-columns: auto auto;
            text-align: center;
            font-size: 17px;

            .employees-list{
                color: brown;
                font-weight: bold;

                 span{
                    margin-left: 20px;
                }

               
            }
            

            a{
                text-decoration: none;
            }
        }

        button{
            margin-top: 30px;
            color: darkred;
            border: 1px solid lightskyblue;
            background-color: lightskyblue;
            padding: 5px 8px;
            border-radius: 5px;
        }

        
    }

    .details{
        width: 100%;
        text-align: center;
    }

    .form{
        width: 70%;
        margin:40px auto;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .button-cont{
        margin: 20px 0;
        text-align: center;
    }

    .redirect{
        color: darkred;
        text-decoration: none;
        border: 1px solid lightskyblue;
        background-color: lightskyblue;
        padding: 5px 8px;
        border-radius: 5px;
        text-align: center;
        margin-left: 20px;
        margin-top: 30px;
    
    }
 
   


}